package model

import (
	"context"
	"sync"

	"github.com/chaos-io/chaos/db"
	"github.com/chaos-io/chaos/logs"

	"{{index .Go.ImportedTypePaths 0}}"
)

var {{ToLowerCamel (index .ImportedMessages 0).Name}}Model *{{(index .ImportedMessages 0).Name}}Model
var {{ToLowerCamel (index .ImportedMessages 0).Name}}ModelOnce sync.Once

type {{(index .ImportedMessages 0).Name}}Model struct {
	DB *db.DB
}

func Get{{(index .ImportedMessages 0).Name}}Model() *{{(index .ImportedMessages 0).Name}}Model {
	{{ToLowerCamel (index .ImportedMessages 0).Name}}ModelOnce.Do(func() {
		{{ToLowerCamel (index .ImportedMessages 0).Name}}Model = New{{(index .ImportedMessages 0).Name}}Model()
	})

	return {{ToLowerCamel (index .ImportedMessages 0).Name}}Model
}

func New{{(index .ImportedMessages 0).Name}}Model() *{{(index .ImportedMessages 0).Name}}Model {
	m := &{{(index .ImportedMessages 0).Name}}Model{DB: initDB()}
	if !m.DB.Config.DisableAutoMigrate || !d.Migrator().HasTable(&{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}{}) {
		if err := d.AutoMigrate(&{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}{}); err != nil {
			logs.Error("Init {{(index .ImportedMessages 0).Name}}Model model err: ", err)
			panic(err)
		}
	}

	return m
}

func (m *{{(index .ImportedMessages 0).Name}}Model) Create(ctx context.Context, {{ToLowerCamel (index .ImportedMessages 0).Name}} *{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}) (int64, error) {
	result := m.DB.WithContext(ctx).Create({{ToLowerCamel (index .ImportedMessages 0).Name}})
	return result.RowsAffected, result.Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) Get(ctx context.Context, id string) (*{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}, error) {
	{{ToLowerCamel (index .ImportedMessages 0).Name}} := &{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}{}
	return {{ToLowerCamel (index .ImportedMessages 0).Name}}, m.DB.WithContext(ctx).First({{ToLowerCamel (index .ImportedMessages 0).Name}}, "id = ?", id).Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) Delete(ctx context.Context, id string) (int64, error) {
	result := m.DB.WithContext(ctx).Where("id = ?", id).Delete(&{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}{})
	return result.RowsAffected, result.Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) Update(ctx context.Context, {{ToLowerCamel (index .ImportedMessages 0).Name}} *{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}) (int64, error) {
	result := m.DB.WithContext(ctx).Updates({{ToLowerCamel (index .ImportedMessages 0).Name}})
	return result.RowsAffected, result.Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) List(ctx context.Context, filter string, condition ...string) ([]*{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}, error) {
	var {{ToLowerCamel (index .ImportedMessages 0).Name}} []*{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}

	tx := m.DB.WithContext(ctx)
	// todo add condition

	return {{ToLowerCamel (index .ImportedMessages 0).Name}}, tx.Find(&{{ToLowerCamel (index .ImportedMessages 0).Name}}).Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) BatchCreate(ctx context.Context, {{ToLowerCamel (index .ImportedMessages 0).Name}} ...*{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}) (int64, error) {
	result := m.DB.WithContext(ctx).CreateInBatches({{ToLowerCamel (index .ImportedMessages 0).Name}}, len({{ToLowerCamel (index .ImportedMessages 0).Name}}))
	return result.RowsAffected, result.Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) BatchGet(ctx context.Context, ids ...string) ([]*{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}, error) {
	var {{ToLowerCamel (index .ImportedMessages 0).Name}} []*{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}
	return {{ToLowerCamel (index .ImportedMessages 0).Name}}, m.DB.WithContext(ctx).Find(&{{ToLowerCamel (index .ImportedMessages 0).Name}}, "id = ?", ids).Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) BatchDelete(ctx context.Context, ids ...string) (int64, error) {
	result := m.DB.WithContext(ctx).Where("id = ?", ids).Delete(&{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}{})
	return result.RowsAffected, result.Error
}

func (m *{{(index .ImportedMessages 0).Name}}Model) BatchUpdate(ctx context.Context, {{ToLowerCamel (index .ImportedMessages 0).Name}} []*{{.Go.PackageName}}.{{(index .ImportedMessages 0).Name}}) (int64, error) {
	result := m.DB.WithContext(ctx).Updates({{ToLowerCamel (index .ImportedMessages 0).Name}})
	return result.RowsAffected, result.Error
}
